<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>xyz.muensterer.meme</string>
	<key>connections</key>
	<dict>
		<key>15BFD0E5-F4E7-4AC8-987B-476FE72A6DCD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E9EC260-0350-4BF5-ABDA-ACEEB666C9DB</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EFE4046C-367F-4813-B3EA-551599DF227D</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Download image</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FB894C5C-26ED-409E-99D7-8FF695AD0EC3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>304218ED-9CE5-44CD-BA45-6847B31A9900</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7E43E3C8-C35D-49A4-B95B-8BE8BDB42FFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15BFD0E5-F4E7-4AC8-987B-476FE72A6DCD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D80BB7C0-49D9-453C-B28C-874533515302</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3E3A61A-5745-4B86-B3CB-93AA48802477</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dennis Muensterer</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>meme</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6E9EC260-0350-4BF5-ABDA-ACEEB666C9DB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

/usr/local/bin/wget $query.png --directory-prefix=$HOME/Downloads/</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EFE4046C-367F-4813-B3EA-551599DF227D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>FB894C5C-26ED-409E-99D7-8FF695AD0EC3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>304218ED-9CE5-44CD-BA45-6847B31A9900</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mock</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Mocking {query}</string>
				<key>script</key>
				<string>python mock_text.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Update available: 1.1.3 → 1.1.2. Run `npm install -g alfred-meme`</string>
				<key>title</key>
				<string>Mock some text</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D80BB7C0-49D9-453C-B28C-874533515302</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>meme</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading meme templates...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Update available: 1.1.3 → 1.1.2. Run `npm install -g alfred-meme`</string>
				<key>title</key>
				<string>Generate meme</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>15BFD0E5-F4E7-4AC8-987B-476FE72A6DCD</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>A3E3A61A-5745-4B86-B3CB-93AA48802477</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>meme</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>7E43E3C8-C35D-49A4-B95B-8BE8BDB42FFA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Meme Generator - uses memegen.link


'mock' taken from https://github.com/kwaugh/Aflred-Spongebob-Mocking-Text</string>
	<key>uidata</key>
	<dict>
		<key>15BFD0E5-F4E7-4AC8-987B-476FE72A6DCD</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>alfy</string>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>304218ED-9CE5-44CD-BA45-6847B31A9900</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>925</integer>
			<key>ypos</key>
			<integer>150</integer>
		</dict>
		<key>6E9EC260-0350-4BF5-ABDA-ACEEB666C9DB</key>
		<dict>
			<key>colorindex</key>
			<integer>9</integer>
			<key>xpos</key>
			<integer>720</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>7E43E3C8-C35D-49A4-B95B-8BE8BDB42FFA</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>475</integer>
		</dict>
		<key>A3E3A61A-5745-4B86-B3CB-93AA48802477</key>
		<dict>
			<key>colorindex</key>
			<integer>12</integer>
			<key>xpos</key>
			<integer>1165</integer>
			<key>ypos</key>
			<integer>455</integer>
		</dict>
		<key>D80BB7C0-49D9-453C-B28C-874533515302</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>280</integer>
		</dict>
		<key>EFE4046C-367F-4813-B3EA-551599DF227D</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>note</key>
			<string>download image</string>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>FB894C5C-26ED-409E-99D7-8FF695AD0EC3</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>SPLITTER</key>
		<string>;</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://muensterer.xyz</string>
</dict>
</plist>
